/* font */

@font-face {
	font-family: MainFont;
	src: url('RobotoCondensed-Bold.ttf');
}

* {
	font-family: MainFont;
	text-align: center;
    user-select: none;
    letter-spacing: 1px;
}

/* main */

body {
    background-color: rgb(0, 0, 0);
}

button:hover { 
    background-color: rgb(0, 0, 0);
}

.main {
    text-align: center;
}

.main button {
    background-color: inherit;
    border: 1px solid white;
    color: rgb(230, 230, 230);
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s;
    padding: 15px 32px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.text-center {
    text-align: center;
    color: rgb(230, 230, 230);
}